<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
<!--  <div class="mb-3 form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
</form>
